/**
#3366CC 
#336666 
#339999 
#FF6666
**/
/*GLOBAL*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin:0;
}
.reactContainer{
  
}
.backgroundBlur{
    background-image: linear-gradient( to bottom, #5555558c, #3333334d),
        url('../img/background.JPG');
    filter: blur(4px);
   position: fixed;
    z-index: -1;  
    height: 100%;
    top: -20px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}
/*Header*/
header{
    margin: auto;
    text-align: center;
}
/*navitem*/
nav{
    display:block;
    text-align: center; 
    box-shadow: 0px 5px 10px rgba(24, 43, 44, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
a, nav h2{
    text-decoration: none;  
    text-transform: uppercase;
    font-weight: 100;
}
nav a:link {
    color: #111;
}
nav a:visited{
    font-weight: 100;
    color: #555;
}
nav a:hover {
    color: #111;
}
nav a:active{
    color: #eee;
}
/*

REVERSE ATAR 

*/

.goalAtar {
    font-size: 30px;
}
input.goalAtar {
    color: #52b760;
    text-shadow: 0px 0px 30px white;
    background: transparent;
    width: auto;
    text-align: center;
    font-size: -webkit-xxx-large;    
    font-weight: bold;
    box-shadow: 0px 30px 20px -25px lightgrey;
}
/*
HOME
*/
.homeContainer{
    background: transparent;
}
/* .background{
    background-image:  linear-gradient(
        to bottom,
         rgba(191, 227, 230, 0.5),
         rgba(255, 255, 255, 0.9)),
          url(background.JPG);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center; 
          position: fixed;
          z-index: -1;
          height: 100%;
          width: 100%;    
          
} */

/* ATAR */

.formAdd { 
    background:  transparent;
    grid-column-start: 1;
    grid-column-end: 3;
/*does not have grid formattng applied*/
}
/**PARTITION**/
/* body {
} */
h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    padding: 50px;
    background: linear-gradient(-45deg, #52b760, #3da24b);
}
header .title {
    text-transform: uppercase;
    color: white;
}
.calcTitle{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-size: xx-large;
    text-align: center;
    font-weight: initial;
    color: #333333;
    text-transform: uppercase;
}
.partContainer{
    text-align: center;
    margin:auto;
    vertical-align: middle;
    min-height: 100%;
    padding-top:50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    background: transparent;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.partition {
    align-self: center;
}
/*takes up 2/3 of the page width*/
.partition.left{
    grid-column-start: 1;
    grid-column-end: 2;
}
/*takes up final 1/3 of page width*/
.partition.right {
    grid-column-start: 2;
    grid-column-end:3;
}
.subjectsAddedContainer{
     margin: 1%;
    padding: 10px; 
    padding-bottom: 20px;
}
h1 {
    font-size: x-large;
}
/* #left {
    display: inline-block;
}
#right {
    display: inline-block;
    width : 30%;
} */
.headingCont {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}
.addedSubject {
    background : white;
    color : #52b052;
    margin: 10px;
    /* width: 75%; */
    padding: 15px;
    border-radius: 20px;
    display:inline-block;
    /*FONTS*/
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    text-transform: uppercase;
}
.addedMark{
    background : white;
    color : #52b760;
    margin: 10px;
    padding: 15px;
    font-size: 150%;
    border-radius: 20px;
    display:inline-block;
    font-family: 'Lato', sans-serif;
}
.scaledMark {
    background : white;
    color : #52b760;
    margin: 10px;
    padding: 15px;
    font-size: 150%;
    border-radius: 20px;
    display:inline-block;
    font-family: 'Lato', sans-serif;
}
.addedcont {
    display:grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
} 
#mark{
    display: inline-block;
}
.addSubject {
    margin: 0 auto;
}
.addSubject select {
    width: 75%;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    text-transform: uppercase;
}
.addSubject input {
    float:right;
    text-align: center;
}
.markL select {
    width: 100%;
}
.formedit {
    margin-left: 25px;
}
select {
    padding: 15px;
    border:hidden;
    border-radius: 20px;
    color: #52b760;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    /* width: 60%; */
    margin:10px;
    background: white;
    text-transform: uppercase;
}
::-webkit-scrollbar-thumb{
    background: whitesmoke;
    border-radius: 15px;
}
::-webkit-scrollbar {
    width: 12px;
}
input{
    padding: 15px;
    width: auto;
    text-align: center;
    margin: 10px;
    padding-left: 15px;
    border:hidden;
    border-radius: 20px;
    /*color: #52b052;*/
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    background-color: white;
   }
#markInput{
    width:40%;
   }
button {
    margin: 25px;
    border:hidden;
    border-radius: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    background: white;
    /* box-shadow: 0 0 1px grey; */
}
button a:hover, button a:link {
  color: white;
  text-shadow: 0 0 5px grey;
}
a:visted {
    color:whitesmoke;
}
buttonContainer {
    display: block;
    margin: 0;
    text-align: center;
} 

.add, .done, .edit, .cancel, .delete {
    font-size: 150%;
    background: #6cc077;
    border-radius: 100%;
    padding: 5px;  
    vertical-align: middle;
}
.add, .done, .edit{
    color: white;
}
.cancel, .delete{
    color: white;
}
.add{
    font-size:40px;
}
#addButton{
    width: 50px;
    height: 50px;
    padding:0;
    color:#336699;
}
.btnWrapper{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10%;
}
h1.middle {
    margin-bottom: 10%;
}
h1.middle.mainQ {
    color:white;
    font-size: -webkit-xxx-large;
}
#buttonNo{
    color:#FF6644;
}
#buttonMaybe{
    color:#339999;
}
#buttonYes, #buttonNo, #buttonMaybe{
  padding: 40px;    
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color:#3da24b ;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
}

.estimate {
    background: #52b760;
    padding: 15px;
    border-radius: 15px;
}
.questionBox {
    padding-top: 20%;
    min-height: 100vh;
    display: grid;
    grid-template-rows:1fr 2fr;
}
.bodyCont{
    width: 100%;
    height: 100%;
}
.ATAR {
    display: block;
    padding:1%;
    padding-top: 75px;
    padding-bottom:75px;
    margin: 10px;    
    grid-column-start: 1;
    grid-column-end: 3;
}
.ATAR h1 {
    color: black;
}
.ATAR #estimated {
    border-style: solid;
    border-color: #52b760;    
    border-radius: 50px;
}
.middle{
    text-align: center;
    margin: auto;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ad {
    border-style: solid;
    border-color: #52b760;
    color: darkslategrey;
    border-radius: 50px;
    margin: 5%;
}
.info {
    font-family: 'Lato', sans-serif;
    color: grey;
}
.markL{ 
 display: inline-block;
 width: 60%;
}
.markR{
width: 20%;
display: inline-block;
}
/*FOOTER*/
footer{
    height: 10%;
    padding: 20px;
    background:#ccc;
    color: white;
    vertical-align: middle;
    text-align: center;
}
footer a:link, footer a:visited{
   font-family: 'Lato', sans-serif;
    color:white;
}
.error {
    color: #FF6644;
    text-align: center;
}
@media screen and (min-width: 480px) {
    .partition{
        display: block;
    }
}